#main_page {
  height: 100vh;
  background-color: black;
  overflow: hidden;
  font-family: "Noto Sans", sans-serif;
  position: relative;
}

#background_image, #background_filter {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

#background_image {
  z-index: 1;
  background-image: url("/public/test.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  filter: blur(4px) grayscale(30%);
}

#background_filter {
  z-index: 2;
  background: radial-gradient(rgb(0 0 0 / 60%) 50%, transparent);
}

#polyrhythm {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 3;
}

#mute_btn {
  position: fixed;
  top: 1vh;
  left: 50%;
  z-index: 4;
  transform: translateX(-50%);
}

#menu_wrapper {
  position: absolute;
  z-index: 4;   
  width: 30%;
  height: 50%;
  transition: right 1s ease;
}